<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Form</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <form method="POST" action="https://checkout.flutterwave.com/v3/hosted/pay">
        <div>
            Your pay amount is NGN100
        </div>
        <input type="hidden" name="public_key" value="FLWPUBK_TEST-3d24a64c35ed08e3149c9babab27b6ed-X" />
        <input type="hidden" name="customer[email]" value="jessepinkman@walterwhite.org" />
        <input type="hidden" name="customer[name]" value="Jesse Pinkman" />
        <input type="hidden" name="tx_ref" value="bitethtx-019203" />
        <input type="hidden" name="amount" value="100" />
        <input type="hidden" name="currency" value="NGN" />
        <input type="hidden" name="meta[token]" value="54" />
        <input type="hidden" name="redirect_url" value="https://github.com/JohnsonMasino" />
        <button type="submit" id="start-payment-button">Pay with Flutterwave</button>
    </form>
</body>
</html>